[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "tabler-icons"]
	path = tabler-icons
	url = https://github.com/tabler/tabler-icons.git
[submodule "zephyr_blinky_example"]
	path = zephyr_blinky_example
	url = https://github.com/uu-1dt106/zephyr_blinky_example.git
